body {
    width: 100%;
    height: 100%;
    background-image: url('./images/bg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
}

.pageHeader {
    font-size: 35px;
}

.taskRequirements {
    font-size: 15px;
}

.file-input-wrapper {
    width: 250px;
    overflow: hidden;
    position: relative;
}

.file-input-wrapper > input[type="file"] {
    font-size: 250px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper > .btn-file-input {
    width: 250px;
    display: inline-block;
}

.file-input-wrapper:hover > .btn-file-input {
    background-color: rgb(88, 88, 88);
}

.globalMenu {
    background-color: rgb(255, 255, 255);
}

.dropdownMenu {
    z-index: 2;
}

.ui.dimmer.dimmerTaskList {
    z-index: 1;
}

.fileUploadInfo {
    min-width: 120px;
}

.lineBreak {
    white-space: pre-wrap;
}

@media only screen and (max-width: 450px) {
    .pageHeader {
        font-size: 25px;
    }
}